<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            background-color: darkgray;
        }
        
        .titles {
            padding-top: 10px;
            color: lightblue;
            font-family: Georgia;
        }
        
        .links {
            padding-top: 10px;
            padding-bottom: 1px;
            padding-left: 850px;
        }
        .Sign_up{
            padding-left: 770px;
            
            
        }
    </style>
    <title> namaste
    </title>
</head>

<body>
    <h1 class="titles"> namaste </h1>


    <a href="weather">
        <img class="links" alt="Qries" src="https://png.pngtree.com/element_our/20190529/ourlarge/pngtree-cloudy-weather-icon-image_1198147.jpg" width="50px" height="50px">

     <a href ="http://127.0.0.1:8000/accounts/">
        <h3 class="Sign_up">Sign Up</h3>
</a>
</body>

</html>