<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <title>Django Contact Fourm</title>
    <style>
        th,td{
            border: 1px brown solid;

        }
        
    </style>



</head>
<body>
    <form method="POST" class="post-form" action="#">  
        {% csrf_token %}
       <div class="container">  
          
           <label for="email">Email</label>
           
           <input type="text" name="email" value=""/> </br>
           
       
           
       
       <button type="submit" class="btn btn-default">Submit</button> </br>
       
       </div> 
       </form>
    
    <h1>
        Teacher Page
    </h1>

    {% if teach %}
    











    <h1>
        Show Teacher Details
    </h1>

<table>
    <tr>
        <th>
            First Name

        </th>
        <th>
            Last Name
        </th>
        <th>
            Email
        </th>
    

    </tr>

    {% for t in teach %}
    <tr>
        <td>
            {{t.firstName}}
        </td>
        <td>
            {{t.lastName}}
        </td>
        <td>
            {{t.email}}
        </td>
        
    </tr>
    {% endfor %}
</table>

    {% else %}

    <h1> No Data</h1>
    {% endif %}

    


<button href="../"> Back </button>




</body>

</html>