<html>
    <body>
        
        <div class="main">
            <!-- Display attributes of instance -->
            <table>
                <tr>
                  <th>FirstName</th>
                  <th>LastName</th>
                  <th>Email</th>
                </tr>
                
                <tr>
                  <td>{{teach.firstName}}</td>
                  <td>{{teach.lastName}}</td>
                  <td>{{teach.email}}</td>
                </tr>
                
              </table> 
              
        </div>
        <a href="/">Back</a> </br> 
    </body>
</html>